/*=== google font ====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

/*=== default css ===*/
html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/*=== home css ===*/
.logo img {
  width: 204px;
  height: 50px;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

/*=== feature css ===*/
.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*=== gallery css ===*/
.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

/*=== footer css ===*/
footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

footer span a {
  color: #fff !important;
}

